:root {

}

html {

}

body {
	font-family: $font-family;
	font-size: $font-size;
	font-weight: $font-weight;
	line-height: $line-height;
}

// vue animations

.fade-enter-active,
.fade-leave-active {
    @include transition(opacity);
}
.fade-enter-from,
.fade-leave-to {
    opacity: 0;
}
